---
title: 書單
---
		<ul>
			{% for book in site.data.books %}
			<li>
				<article>
					<header>
						<img src="{{ book.cover }}" alt="{{ book.title }}" />
						<span>{{ book.author }}</span>
						{% if book.date %}<time>{{ book.date }}</time>{% endif %}
					</header>
					<p>
						{{ book.info }}
					</p>
					<footer>
						<a href="{{ book.download }}" download>
							<svg fill="currentColor" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
								<path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"/>
							</svg>
						</a>
						{% include license.html license=book.license %}
						Link: <a href="{{ book.link }}">Details</a>
					</footer>
				</article>
			</li>
			{% endfor %}
		</ul>
