---
title: 書單
---
		<ul>
			{% for book in site.data.books %}
			<li>
				<article>
					<header>
						<img src="{{ book.cover }}" alt="{{ book.title }}" />
						<span>{{ book.author }}</span>
						{% if book.date %}<time>{{ book.date }}</time>{% endif %}
					</header>
					<p>
						{{ book.info }}
					</p>
					<footer>
						Link: <a href="{{ book.link }}">Details</a><br/>
						License: <a href="{{ book.license }}">{{ book.license }}</a><br/>
						Download: <a href="{{ book.download }}" download>EPUB</a>
					</footer>
				</article>
			</li>
			{% endfor %}
		</ul>
