body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #BDC0BA;
  background-color: #F6C555;
}

body > header {
  text-align: center;
  background-color: #43341B;
}

main {
  flex: 1;
  max-width: 800px;
  margin: 0 auto;
}

main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #0C0C0C;
}

main li article {
  padding: .5em;
  margin-bottom: 1em;
}

main li article header img {
  max-width: 300px;
  display: block;
  margin: .5em auto;
}

main li article time {
  display: block;
}

main li article a:not(:first-child) {
  display: inline-flex;
  float: right;
  text-decoration: none;
  color: inherit;
  border-radius: 50%;
  border: 2px solid;
  width: 2em;
  height: 2em;
  line-height: 2em;
  align-items: center;
  justify-content: center;
  margin-right: .5em;
}

main li article a:hover {
  color: #434343;
}

main li article a img {
	height: 31px;
}

main + footer {
  padding: .5em;
  text-align: center;
  background-color: #434343;
}

main + footer a {
  text-decoration: none;
  color: inherit;
}
